Assignment/flows/Update_Contact_Info_from_Settings.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Value_of_Contact_Info</name>
        <label>Set Value of Contact Info</label>
        <locationX>252</locationX>
        <locationY>409</locationY>
        <assignmentItems>
            <assignToReference>ContactRecordId.HiddenCurrency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CostsMonthly</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecordId.HiddenPercent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ATMFee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecordId.HiddenCurrency2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CardsFee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>UpdateContactH</name>
        <dataType>String</dataType>
    </constants>
    <decisions>
        <name>Check_Settings_in_not_Null</name>
        <label>Check Settings in not Null</label>
        <locationX>238</locationX>
        <locationY>231</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Settings_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ATMFee</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CardsFee</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CostsMonthly</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Value_of_Contact_Info</targetReference>
            </connector>
            <label>Settings Available</label>
        </rules>
    </decisions>
    <formulas>
        <name>CombineCountryProduct</name>
        <dataType>String</dataType>
        <expression>{!SelectedHomeCountry}+{!SelectedProduct}</expression>
    </formulas>
    <interviewLabel>Update Contact Info from Settings {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Contact Info from Settings</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Settings</name>
        <label>Get Custom Settings</label>
        <locationX>246</locationX>
        <locationY>47</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Settings_in_not_Null</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CombineCountryProduct</elementReference>
            </value>
        </filters>
        <object>CostAndFee__c</object>
        <outputAssignments>
            <assignToReference>ATMFee</assignToReference>
            <field>ATMFee__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CardsFee</assignToReference>
            <field>CardReplaceFee__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CostsMonthly</assignToReference>
            <field>CostPerMonth__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>247</locationX>
        <locationY>574</locationY>
        <inputReference>ContactRecordId</inputReference>
    </recordUpdates>
    <startElementReference>Get_Custom_Settings</startElementReference>
    <status>Active</status>
    <variables>
        <name>ATMFee</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CardsFee</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactRecordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>CostsMonthly</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedHomeCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedProduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UpdateContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
